/* banners and things */
.navbar {
    background-color: var(--color-primary);
    width: 100%;
    padding: .25em .25em 0 .25em;
}

/* index.html */
.index-topic-header {
    background-color: var(--color-secondary);
    text-align: center;
    font-size: var(--font-size-larger);
    font-family: "Mansalva", sans-serif;
}

.index-topic-title {
    background-color: var(--color-tertiary);
    text-align: center;
    font-size: var(--font-size-medium);
}

.index-topic-grid {
    --page-grids: 3;
    display: grid;
    align-content: end;
    grid-template-columns: repeat(
        var(--page-grids), 1fr
    );

    gap:
        var(--box-gap);

    grid-column:
        span min(
        5,
        var(--page-grids)
        ) / -1;

}



/* at the top of each individual concept page (ie a specific field/mob page) */
.page-title {
    font-family: "Mansalva", sans-serif;

}

/* image with text on top */
.img-under-text {
    position: relative;
    text-align: center;
    color: white;
    > img {
        opacity: .6;
    }
    > p {
        background-color: rgba(0, 0, 0, 0.35);
        padding: var(--box-gap);
    }
}

/* centering text on image*/
.centered {
    opacity: 1;
    /*color: black;*/
    position: absolute;
    line-height: 2em;
    font-size: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-bg {
    background-color: var(--color-quaternary);
}


/* text */
p {
    font-family: "Times New Roman", sans-serif;
    font-size: var(--font-size-small);
}

.mansalva-regular {
    font-family: "Mansalva", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: lightyellow 2px 2px 2px;
    margin: 0 0;
}

/*
.classname {
& > * { all elements in class, & includes nested ones too

color for the background of the whole page
color for the background of the header
default color of text
color of text in the header (contrast with the header background color)
one or more accent colors, to use for links and/or headings

}
*/
.small-border-box {
}

.box {
    /* generic boxes for individual items, tools, etc */
    /* colors are in separate classes (for now) */
    width: var(--box-width);
    padding: var(--box-padding-width) var(--box-padding-height);
    border: 1px solid black;
    /*display: flex;*/
    flex-wrap: wrap;
}

.box-grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--box-gap);

    & > * {
        width: fit-content;
        flex-grow: 1;
    }
}

/* background colors + more maybe for the boxes */
.mob {
    background-color: #f1bcbc;
    padding: 10px 20px;
}

.noobshop {
    background-color: rgba(221, 252, 228, 0.5);
}

.common {
    background-color: var(--color-common);
}

.legendary {
    background-color: var(--color-legendary);
}

svg.icon {
    display: inline;
    height: 1.75em;
    width: 1.75em;
    vertical-align: text-top;
    fill: currentColor;
}

.body-grid {
    --page-grids: 8;
    display: grid;
    align-content: end;
    grid-template-columns: repeat(
        var(--page-grids), 1fr
    );
    gap:
        var(--box-gap);
    )

    grid-column:
        span min(
            5,
            var(--page-grids)
        ) / -1;

    > .description {
        grid-column: 1 / 3;
        padding: 2em;
        vertical-align: center;
    }
    > .image {
        grid-column: 4 / 9;
    }
}

/*
    const newItem = document.createElement("li")
    newItem = "naming things"
    const list = document.querySelector("ol")
    list.appendChild(newItem)
*/